.form-input-color,
.datetime-input-container .form-control,
select[disabled] {
    color: var(--color-dark-blue);
    border: solid 0.5px var(--color-dark-blue);
    border-radius: 3px;
    padding: 5px;
    opacity: inherit;
}

.datetime-input-container .form-control,
.datetime-input {
    width: 80%;
}

.datetime-input-container .rdt {
    margin-top: 10px;
}

.datetime-input-container {
    display: flex;
    align-items: center;
}

.datetime-input-container .datetime-input-separator {
    margin-right: 6%;
    margin-top: 15%;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-dark-blue);
}

.date-picker-right > label > div > .rdtPicker {
    right: 0;
}

.total-hours-width {
    width: 80px;
}

.checkbox-section {
    max-width: 300px;
}

.checkbox-section .checkbox-container {
    display: flex;
}

.checkbox-section .checkbox-container .log-attest {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
}

.checkbox-section .formik-field-error-text {
    font-size: 14px;
    color: #C84D39;
}

.view-mode-input-color {
    background-color: var(--color-light-gray);
}
