.show-hide-button {
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
  margin-left: -9%;
  margin-top: 1%;
}

.current-password-details {
  color: var(--color-black);
}

#current-password {
  width: 90%;
  height: 30px;
}

.current-password-input {
  display: flex;
  align-items: center;
}

.current-password-input-section {
  margin-left: 10%;
}

.forgot-password-link {
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 0.5em;
}

.current-password-input-header {
  margin-bottom: 10px;
  font-weight: bold;
}

.incorrect-pass-error-message {
    color: var(--color-dark-cyan);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.incorrect-password-section {
  display: flex;
  align-items: center;
}

.current-password-input-section {
  float: center;
}

@media screen and (max-width: 768px) {
  .show-hide-button {
    margin-left: -12%;
  }
}