.inventory-component {
  background-color: var(--color-light-blue);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.warehouse-selector-title {
  color: var(--text-color-dark);
}

.top-items-section {
  display: flex;
  justify-content: space-between;
}

.top-item {
  background-color: var(--color-dark-blue);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view-inventory-section {
  align-self: center;
  width: 100%;
}

.view-inventory-button {
  background-color: var(--color-green);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 5px;
  width: 50%;
}