.inventory-component {
  background-color: var(--color-light-blue);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.warehouse-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-items-section {
  display: flex;
  justify-content: space-between;
}

.top-item {
  background-color: var(--color-dark-blue);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding: 10px;
}

.top-item-name {
  font-weight: bold;
  text-align: center;
}

.in-stock {
  display: flex;
  justify-content: space-between;
}

.in-stock-quantity {
  display: inline;
  border: 1px solid var(--text-color-light);
  width: 30%;
  text-align: center;
}

.needed {
  display: flex;
  justify-content: space-between;
}

.needed-quantity {
  display: inline;
  border: 1px solid var(--text-color-light);
  width: 30%;
  text-align: center;
}

.view-inventory-section {
  width: 100%;
}

.view-inventory-button {
  background-color: var(--color-green);
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin-left: 25%;
  width: 50%;
}