.about-card .about-card-inner {
    /* display: flex;
    align-items: stretch; */
    /* background: pink; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;    
}

.about-icons {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}