@import '../../common/vars.css';

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    color: var(--color-dark-blue);

    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #003E53 100%, rgba(0, 65, 87, 0.32) 100%);
}

.login-page p {
    margin: 0;
    padding: 0;
}

.login-page .title {
    position: static;
    z-index: 1;

    /* font-size: 48px; */
    font-size: 2.3rem;
    font-weight: bold;
    margin: 5vh 0% 0% 0%;
}

.login-page .subtitle {
    position: static;
    z-index: 1;

    /* font-size: 38px; */
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

.login-page .particles {
    position: absolute;
    bottom: 0;

    z-index: 0;

    height: 100%;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .login-page .title {
        text-align: center;
    }
}