@import '../../../common/vars.css';

/* Classes for table columns in view mode */
.static-item-name {
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
}

.static-item-attribute {
    padding: 7px;
    text-align: center;
}

/* Classes for table items in edit mode */
.item-edit-name {
    padding: 7px;
    min-width: 350px;
    max-width: 450px;
}

.table-input-name {
    min-height: 35px;
    width: max-content;
    color: var(--text-color-dark);
    width: 90%;
    border: solid 2px var(--color-dark-blue);
    padding-left: 1px;
}

.table-input {
    min-height: 35px;
    color: var(--text-color-dark);
    width: 50%;
    border: solid 2px var(--color-dark-blue);
    text-align: center;
}

.change-quantity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.minus-button-wrapper {
    padding-right: 7px;
}

.plus-button-wrapper {
    padding-left: 7px;
}

.item-edit-plus-button, .item-edit-minus-button {
    border-radius: 50px;
    height: 25px;
    width: 25px;
    border: none;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    background-color: var(--color-green);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.category-dropdown {
    min-height: 35px;
    color: var(--text-color-dark);
    width: 75%;
    border: solid 2px var(--color-dark-blue);
    text-align-last: center;
    margin-left: 12px;
}

#delete-wrapper {
    display: flex;
    flex-direction: row;
}

.table-item-delete-button{
    background-image: url(images/deleteItem.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 19px;
    text-align: right;
}

.table-item-delete-button:hover{
    opacity: 0.7;   
}

/* Classes for deleted items */
.deleted-item {
    text-decoration-color: var(--color-green);
    height: 48px;
    padding-top: 9px;
}

.deleted-item--name {
    text-decoration-color: var(--color-green);
    height: 48px;
    margin-left: 3px;
}

.table-item-undelete-button{
    background-image: url(images/undeleteItem.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left center;
    border: none;
    padding: 19px;
    text-align: right;
}

.table-item-undelete-button:hover{
    opacity: 0.7;
}
