@import '../../../common/vars.css';

.item-name, .item-qty, .item-needed, .item-cat {
    padding: 10px;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--text-color-dark);
}

.item-name-field, .item-qty-field, .item-needed-field, .item-cat-field {
    padding: 7px;
}

.item-edit-name {
    padding: 3px;
    padding-left: 5px;
    border-radius: 0px;
    border: solid 2px var(--text-color-dark);
    width: 80%;
}

.item-edit-cat {
    width: 50%;
    text-align-last: center;
    padding: 5px;
    padding-left: 10px;
    border-radius: 0px;
    border: solid 2px var(--text-color-dark);
}

.item-edit-qty, .item-edit-needed {
    text-align: center;
    padding: 5px;
    border-radius: 0px;
    border: solid 2px var(--text-color-dark);
    width: 30%;
    height: 100%;
}

.item-qty-field, .item-cat-field {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    margin: auto;
}

.item-qty, .item-needed, .item-cat {
    text-align: center;
}

#delete-wrapper {
    display: flex;
    flex-direction: row;
}

.table-item-delete-button{
    background-image: url(images/deleteItem.png);
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    padding: 19px;
}

.table-item-delete-button:hover{
    transition: 0.2s;
    opacity: 0.7;
}

.item-edit-plus-button, .item-edit-minus-button {
    min-width: 25px;
    min-height: 20px;
    border-radius: 100%;
    background-color: var(--color-green);
    border: none;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
}

.minus-button-wrapper, .plus-button-wrapper {
    padding-top: 4px;
}

.minus-button-wrapper {
    padding-right: 7px;
}

.plus-button-wrapper {
    padding-left: 7px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}