@import '../../../common/vars.css';

.popup {
    position: absolute;
    z-index: 3;

    border: 0.5px solid #000000;
    border-radius: 10px 10px 10px 10px;

    background: var(--color-dark-blue);

    overflow: hidden;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 22vw;
    height: 65vh;
}

.popup .event-image {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0px 0px;

    background: rgba(196, 196, 196);

    font-size: 2rem;

    height: 13vh;
}

.popup .event-info {
    border-radius: 0px 0px 10px 10px;

    height: 80%;
}

.popup .event-info .popup-header {
    font-weight: bold;

    overflow: wrap;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

    height: auto;
}

.popup .event-info .popup-header .event-time {
    font-size: 1.4rem;

    color: var(--color-light-orange);
}

.popup .event-info .popup-header .event-name { 
    font-size: 2rem;

    color: var(--text-color-light);
}

.popup .event-info .details-section {
    color: white;
    background-color: var(--color-dark-blue);

    padding-left: 5%;

    margin-bottom: 2%;

    height: auto;
}

.popup .event-info .details-section .event-detail {
    display: flex;
    align-items: center;

    margin-bottom: 1.5%;

    height: 10%;
}

.popup .event-info .details-section .event-detail .event-detail-icon {
    height: 25px;
    width: 25px;
}

.popup .event-info .details-section .event-detail .event-detail-label {
    font-size: 1.1rem;

    padding-left: 2%;
}

.popup .event-info .event-description {
    background-color: var(--color-dark-blue);

    color: white;

    font-size: 1.1rem;
    text-align: left;

    margin: 5% 11.5% 7% 11.5%;

    height: auto;
}

.popup .event-info .event-buttons {
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: row;

    border-radius: 0px 0px 10px 10px;

    justify-content: space-around;
    
    margin-bottom: 5%;
    
    height: 8%;
}

.popup .event-info .event-buttons .button {
    width: 28%;
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 0px 2px #002835;
    font-size: 1rem;
}

.popup .event-info .event-buttons .confirm-button {
    background-color: var(--color-green);
}

.popup .event-info .event-buttons .cancel-button {
    background-color: var(--color-light-orange);
}
