@import '../../../common/vars.css';

.popup {
    position: absolute;
    z-index: 3;

    background: var(--color-dark-blue);

    border: 0.5px solid #000000;
    border-radius: 10px 10px 10px 10px;

    overflow: hidden;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* width: 20vw; */
    max-width: 500px;
    height: 50vh;
    /* max-height: 45vh; */
    /* min-height: 600px; */
    height: auto;
}

.popup .event-image {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(196, 196, 196, 0.75);

    font-size: 1.5rem;

    height: 150px;
    /* height: 50%; */
    /* height: 100%; */
}

.popup .event-info {
    border-radius: 0px 0px 10px 10px;

    /* height: 100%; */
    /* height: 600px; */
}

.popup .event-info .popup-header {
    font-weight: bold;

    line-height: 1rem;;

    overflow: wrap;

    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 1%;

    height: auto;
}

.popup .event-info .popup-header .event-time {
    font-size: 1.3rem;

    color: var(--color-light-orange);

    /* line-height: 20px; */
    /* margin: 0; */
    padding: 0;
}

.popup .event-info .popup-header .event-name { 
    font-size: 1.7rem;

    color: var(--text-color-light);

    white-space: normal;

    line-height: 26px;
    height: auto;

    margin: 0;
    /* padding: 0; */
}

.popup .event-info .details-section {
    color: white;
    background-color: var(--color-dark-blue);

    /* font-size: 2rem; */

    padding-left: 5%;

    margin-bottom: 2%;

    height: auto;
}

.popup .event-info .details-section .event-detail {
    display: flex;
    align-items: center;

    margin-bottom: 1.5%;

    height: 10%;
}

.popup .event-info .details-section .event-detail .event-detail-icon {
    height: 25px;
    width: 25px;
}

.popup .event-info .details-section .event-detail .event-detail-label {
    font-size: 1.1rem;

    padding-left: 2%;
}

.popup .event-info .event-description {
    background-color: var(--color-dark-blue);

    color: white;

    font-size: 1.1rem;
    text-align: left;

    /* margin: 10% 11.5% 10% 11.5%; */
    padding: 2% 11.5% 3.5% 11.5%;

    height: auto;
    /* height: 50px; */
}

.popup .event-info .event-buttons {
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: row;

    border-radius: 0px 0px 10px 10px;

    justify-content: space-between;
    
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    
    height: 48px;
}

.popup .event-info .event-buttons .button {
    height: 75%;
    width: 41%;
    border-radius: 10px;
    color: white;
    border: 0;
    box-shadow: 0px 2px #002835;
    font-size: 1.2rem;
}

.popup .event-info .event-buttons .confirm-button {
    background: rgba(93, 154, 100, 0.8);
}

.popup .event-info .event-buttons .cancel-button {
    /* background-color: var(--color-light-orange); */
    background: #DA6153;
}
