#edit-qualifications {
  margin: 10px;
  display: block;
  justify-content: space-between;
  min-width: 51em;
  padding: 2em;
}

#edit-qualifications #table-header {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}

#edit-qualifications .green-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color-green);
  border: none;
  border-radius: 25px;
  padding: 0.1em 1.5em;
}

/* #edit-qualifications .table-title {
} */

#edit-qualifications #table-wrapper {
  padding: 1em 1em 2em;
  background-color: #F2FBFC;
  box-shadow: 2px 2px 2px gray;
}

#edit-qualifications .qualifications-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;
}

#edit-qualifications .qualifications-table thead {
  font-size: 20px;
  align-self: center;
  background-color: var(--color-dark-teal);
  color: white;
}

#edit-qualifications .qualifications-table tbody {
  border-collapse: separate;
}

#edit-qualifications .qualifications-table tbody>tr>td {
  padding: 0.5em 0.5em;
}

#edit-qualifications .qualifications-table tbody>tr:nth-child(even)>td {
  background-color: rgba(51, 100, 115, 0.37);
}

#add-qualification-form {
  display: flex;
  flex-direction: column;
}

#edit-qualifications .form-label, .form-textarea, .form-input {
  display:block;
}