.volunteer-events-page {
    margin: 0% 5% 5% 5%;
    display: flex;
    flex-direction: column;
}

.volunteer-events-page .title {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-dark-blue);
}


@media screen and (max-width: 768px) {

    .volunteer-events-page .title {
        font-size: 2em;
        font-weight: bold;
        color: var(--color-dark-blue);
        text-align: center;
    }

}