.name {
    text-align: center;
    display: flex;
  }

.edit-save {
  list-style: none;
}

.pg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.abt-contact {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.editButton {
  background-color: Transparent;
  color: #003E53;
  text-decoration: underline;
  cursor: pointer;
  border-color: Transparent;
}

.name {
  color: #003E53;
}