
.view-data-container {
    display: flex;
}

.view-data-container .view-data-button {
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-width: 0px;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    background: #5D9A64;
    color: white;
    flex-grow: 1;
}

.view-data-container, .view-data-container:hover, .view-data-container:active, .view-data-container:visited, .view-data-container:focus {
    text-decoration: none;
}

.description-input {
    height: 200px;
    font-family: 'Assistant', sans-serif;
    font-weight: normal;
}

.form-input-color,
.datetime-input-container .form-control,
select[disabled] {
    color: var(--color-dark-blue);
    border: solid 0.5px var(--color-dark-blue);
    border-radius: 3px;
    padding: 5px;
    opacity: inherit;
}

.view-mode-input-color {
    background-color: var(--color-light-gray);
}

.datetime-input-container .form-control,
.datetime-input {
    width: 80%;
}

.datetime-input-container .rdt {
    margin-top: 10px;
}

.datetime-input-container {
    display: flex;
    align-items: center;
}

.datetime-input-container .datetime-input-separator {
    margin-right: 6%;
    margin-top: 15%;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-dark-blue);
}

@media screen and (max-width: 768px) {
    .description-input {
        height: 30px;
    }
}
