.light-modal-header {
    background-color: white;
    padding: 16px;
}

.light-modal-header-close-button {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    background-color: white;
}

.light-modal-header-title {
    text-align: center;
    font-size: 20px;
    color: #003E53;
    font-weight: bold;
    margin: 0;
}