.events-page {
    margin: 0% 10% 5% 10%;
}

.events-page .title {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-dark-blue);
}

.login h1 {
 background: purple;
}

@media screen and (max-width: 768px) {
    .add-button {
        margin: 0 auto;
        display: block;
        padding-right: 10%;
        padding-left: 10%;
        margin-bottom: 5%;
    }


    .events-page .title {
        text-align: center;
    }}