@import '../../../common/vars.css';

.desktop-navbar-link {
    line-height: 45px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 1.3em;
    margin-right: 50px;
}

.desktop-navbar-submit-hours-button {
    margin-right: 30px;
    border-radius: 20px;
    border: none;
    height: 32px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 5px; */
    padding-bottom: 2px;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    color: #fff;
    background-color: #dc624e;
    cursor: pointer;
}

.profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-color: white;
    border-radius: 50%;
    border: 0;
    margin-top: 4px;
    margin-right: 25px;
    cursor: pointer;
}

.navbar-profile-menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    padding-bottom: 5px;
    margin-top: 15px;
    width: 150px;
    background-color: #f2fbfc;
    color: var(--text-color-dark);
    border: 1px solid var(--text-color-dark);
    border-radius: 2px;
}

.navbar-profile-menu-link {
    text-decoration: none;

}

.navbar-profile-menu-option {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    color: var(--text-color-dark);
    border: 1px solid var(--text-color-dark);
    width: 100%;
}