@import '../../../common/vars.css';

#add-item-button-container {
  display: flex;
}

.add-item-modal-content {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border: 1.6px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

.add-item-button {
  padding: 0 40px;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 2px solid;
  border-radius: 6px;
  font-weight: bold;
  font-size: medium;
  color: var(--text-color-light);
  background-color: var(--color-green);
  outline-color: var(--color-green);
  padding-top: 1px;
  padding-bottom: 1px;
}

.close-add-item {
  
}