@import '../../../common/vars.css';

.add-item-modal-content {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border: 1.6px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}
