.admin-dashboard {
    margin: 30px auto;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.component-title {
    color: var(--text-color-dark);
    font-weight: bold;
}

.division-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.division-dropdown {
    border: none;
    outline: none;
    width: inherit;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    text-align: left;
}

.admin-components-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inventory-events-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-dashboard .admin-components-container .inventory-section {
    width: 50%;
}

.admin-dashboard .admin-components-container .upcoming-events-container {
    width: 50%;
}


.availability-component {
    height: 600px;
    width: 100%;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .admin-dashboard {
        width: 100%;
    }
    
    .admin-components-container{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;

    }

    .admin-dashboard .admin-components-container .inventory-section {
        width: 100%;
    }

    .admin-dashboard .admin-components-container .upcoming-events-container {
        width: 100%;
    }

    .admin-dashboard .availability-section {
        margin-left: 5%;
        margin-right: 5%;
    }

    .division-section {
        margin: auto;
    }

    .inventory-section{
        margin-top: 0%;
        
    }

}
