.volunteer-dashboard-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

.volunteer-dashboard-page-container .titled-card-container {
    width: 100%;
}

.volunteer-dashboard-page-container .my-stats-section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}

#stats-display{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.volunteer-dashboard-page-container .my-stats-section button{
    margin-left: auto;
    position: relative;
    top: 1.25em;
    background: transparent;
    border-radius: 20px;
    border: 0.5px solid var(--text-color-dark);
    color: var(--text-color-dark);
    cursor: pointer;
    width: 170px;
}



/* .volunteer-dashboard-page-container .my-stats-section .view-hours-button {
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    border-radius: 20px;
    border: 0.5px solid var(--text-color-dark);
    color: var(--text-color-dark);
    cursor: pointer;
    width: 170px;
} */

.volunteer-dashboard-page-container .my-stats-section .view-hours-button p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.filler {
    height: 100px;
    width: 100%;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.volunteer-dashboard-page-container .event-list-component {
    width: 48%;
    height: 100%;
}

.volunteer-dashboard-page-container .events-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.events-section .events-container {
    height: 650px;
    overflow-y: hidden;
}

.dashboard-event-legend {
    align-self: flex-start;
    margin-left: 0.5em;
    margin-top: 1em;
}

.volunteer-dashboard-page-container .availability-section {
  width: 100%;
  margin-bottom: 25px;
}

.help-popup {
    background-color: var(--color-olive);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    margin-left: 15px;
}

@media screen and (max-width: 1000px) {
    #stats-display{
        flex-direction: column;
    }

    .volunteer-dashboard-page-container .my-stats-section{
        margin-top: 0px;
    }

    .volunteer-dashboard-page-container .my-stats-section h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    .volunteer-dashboard-page-container .my-stats-section h1 ~ h1 {
        margin-bottom: 60px;
    }

    .volunteer-dashboard-page-container .event-list-component {
        width: 48%;
        height: 100%;
        margin-bottom: 30px;
    }

    .volunteer-dashboard-page-container .my-stats-section .view-hours-button {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard-event-legend{
        margin-top: 0em;
    }
}

@media screen and (max-width: 768px) {
    .volunteer-dashboard-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .volunteer-dashboard-page-container .my-stats-section h1 {
        font-size: 30px;

        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }

    .volunteer-dashboard-page-container .my-stats-section h1 ~ h1 {
        margin-bottom: 50px;
    }

    .volunteer-dashboard-page-container .event-list-component {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    .volunteer-dashboard-page-container .events-section {
        flex-direction: column;
        align-items: center;
    }

    .volunteer-dashboard-page-container .events-section .events-container {
        max-height: 360px;
    }

    .volunteer-dashboard-page-container .events-section .event-lists .event-list {
        width: 100%;
    }

    .dashboard-event-legend {
        align-self: center;
        margin-left: 0;
        margin-top: 0em;
    }
    .dashboard-event-legend .legend-key-section {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
}
