.volunteer-dashboard-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteer-dashboard-page-container .titled-card-container {
    width: 90%;
}
.volunteer-dashboard-page-container .my-stats-section {
    width: 85%;
    margin: 30px auto;
}

.filler {
    height: 100px;
    width: 100%;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.my-stats-title {
    color: var(--text-color-dark);
    font-weight: bold;
}

.volunteer-dashboard-page-container .event-list-component {
    width: 48%;
    height: 100%;
}

.events-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.events-section .event-lists {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 99%;
}

.events-section .events-container {
    height: 650px;
    overflow-y: hidden;
}

.dashboard-event-legend {
    align-self: flex-start;
    margin-left: 5%;
}

.volunteer-dashboard-page-container .availability-third {
  width: 100vw;
}

.help-popup {
    background-color: var(--color-olive);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .volunteer-dashboard-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .volunteer-dashboard-page-container .event-list-component {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }
    .events-section .event-lists {
        flex-direction: column;
        align-items: center;
    }
    .events-section .event-lists .event-list .events-container {
        max-height: 360px;
    }
    .events-section .event-lists .event-list {
        width: 100%;
    }
    .dashboard-event-legend{
        align-self: center;
        margin-left: 0;
    }
    .dashboard-event-legend .legend-key-section {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
}
