.volunteer-dashboard-page-container .my-stats-section {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 30px auto;
}

.filler {
    height: 100px;
    width: 100%;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.my-stats-title {
    color: var(--text-color-dark);
    font-weight: bold;
}

.events-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    width: 100%;
    height: 100%;
}

.events-section .event-lists {
    display: flex;
    width: 100%;
}

.events-section .event-lists .event-list {
    width: 48%;
    height: 100%;
    max-height: 650px;
}

.events-section .events-container {
    height: 650px;
    overflow-y: scroll;
}

.dashboard-event-legend {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .volunteer-dashboard-page-container .availability-third {
  width: 60vw;
  background-color: pink;
} */

.help-popup {
    background-color: var(--color-olive);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    margin-left: 15px;
}

/* CSS From DashboardEventSection.js */

/* .events-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    height: 850px;
} */

/* .event-list-component {
    flex: 0 1 48%;
}

.key-section {
    display: flex;
    width: 85%;
    margin: 20px auto auto auto;
    padding: 15px 20px;
}

.key-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.volunteer-event-square {
    background-color: var(--color-yellow);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.volunteer-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.outreach-event-square {
    background-color: var(--color-light-pink);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.outreach-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.other-event-square {
    background-color: var(--color-lavender);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.other-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.dashboard-event-legend {
    width: 100%;
} */

@media screen and (max-width: 768px) {
    .volunteer-dashboard-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .events-section .event-list-component{
        width: 95%;
    } */
    .events-section .event-lists {
        flex-direction: column;
        align-items: center;
    }
    .events-section .event-lists .event-list .events-container {
        max-height: 360px;
    }
    .events-section .event-lists .event-list {
        width: 95%;
    }
    .dashboard-event-legend {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard-event-legend .legend-key-section {
        align-content: center;
    }
}
