.inventory {

}

#inventory-top {
    display: flex;
    flex-direction: row;
}

.current-category-label {
    display: flex;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    color: var(--text-color-dark);
    font-weight: 600;
}

#category-container {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#table-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}