@import '../../common/vars.css';

.inventory {
    display: flex;
    flex-direction: column;
}

.inventory-top {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.current-category-label {
    display: flex;
    font-family: var(font-family);
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 40px;
}

.category-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1140px;
}

.table-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
