@import '../../../common/vars.css';

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: fit-content;
    justify-content: center;
    align-self: center;
}

.division-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    width: fit-content;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    color: var(--text-color-dark);
    position: relative;
}

.division-menu--top {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 54px;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    line-height: 80px;
    color: var(--text-color-dark);

    border: 0;
    outline: 0;
    background: inherit;
    
    cursor: pointer;
}

.division-menu--open {
    border: solid var(--text-color-dark);
    background-color: transparent;
    border-width: 0;
    height: 30px;
    width: 30px;

    margin-top: 10px;
    margin-left: 15px;
}
  
.division-menu--close {
    border: solid var(--text-color-dark);
    background-color: transparent;
    border-width: 0;
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

    margin-top: 10px;
    margin-left: 15px;
}

.division-menu--list-container {
    position: absolute;
    z-index: 2;
    top: 80px;
    background-color: white;
    padding: 7px;
    box-shadow: 2px 2px 6px;
}

.division-menu--list {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.division-menu--list-item {
    border: none;
    background-color: #FFFF;
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    width: inherit;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.division-menu--list-item:hover {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.07em;
}

@media screen and (max-width: 768px) {
    .division-menu--top {
        height: 20px;
        font-weight: 600;
        font-size: 25px;
        white-space: nowrap;
    }

    .division-menu--open {
        background-color: transparent;
        height: 20px;
        width: 20px;
    }
      
    .division-menu--close {
        background-color: transparent;
        height: 20px;
        width: 20px;
    }
    
    .division-menu--list-container {
        top: 1.75em;
        padding: 5px;
    }
    
    .division-menu--list-item {
        border: none;
        background-color: #FFFF;
        color: var(--text-color-dark);
        font-weight: 600;
        font-size: 1.4em;
        font-family: 'Assistant', Arial, Helvetica, sans-serif;
    }
}