@import '../../../common/vars.css';

.warehouse-container {
  display: flex;
  justify-content: center;
}

.warehouse-menu-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  width: 450px;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  color: var(--text-color-dark);
}

.warehouse-menu--top {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  z-index: 1;
}

.warehouse-menu--open {
  margin-left: 20px;
  margin-bottom: 6px;
  border: solid var(--text-color-dark);
  background-color: transparent;
  border-width: 0 4px 4px 0;
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.warehouse-menu--close {
  margin-left: 20px;
  margin-top: 13px;
  border: solid var(--text-color-dark);
  background-color: transparent;
  border-width: 0 4px 4px 0;
  height: 18px;
  width: 18px;
  flex-direction: row;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.warehouse-menu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: 2px 2px 6px;
  background-color: solid #FFFF;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 300px;
  z-index: 1;
  margin-top: 52px;
}

.warehouse-menu--list-item {
  display: flex;
  align-items: flex-start;
  text-align: center;
  border: none;
  background-color: #FFFF;
  color: var(--text-color-dark);
  width: inherit;
  font-size: 32px;
  font-weight: 700;
}

.warehouse-menu--list-item:hover {
  transition: 0.2ms;
  text-decoration: underline;
}

.warehoue-menu--list-item:focus {
  text-decoration: underline;
}

.add-warehouse-button {
  background-color: var(--color-green);
  color: var(--text-color-light);
  font-size: 150%;
  font-weight: 800;
  border: 0;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  line-height: 25px;
  text-align: center;
}
