.volunteer-events-page {
    margin: 0% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.volunteer-events-page .title {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-dark-blue);
    margin-bottom: 20px;
}