@import '../../../common/vars.css';

.delete-account-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.5px);
    background-color:rgba(231, 231, 231, 0.5);
}

.delete-account-modal-container {
    border-radius: 5px;
    /* border-style: solid; */
    border-width: 1px;
    background: #A7C9E1;
    color:  var(--text-color-dark);
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.delete-account-modal-container p.title {
    margin-bottom: 0;
}

.delete-account-modal-container .body {
    margin-top: 0;
    margin-bottom: 0;
}

.delete-account-modal-container .delete-modal-close-button {
    border: 0;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;

    position: absolute;
    right: 20px;
    top: 20px;
}

.delete-account-button {
    background-color: var(--color-orange);
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.close-delete-account-button {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: var(--color-dark-blue);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .delete-account-modal-container {
        border-radius: 5px;
        border-width: 1px;
        background: #A7C9E1;
        color:  var(--text-color-dark);
        text-align: center;
        width: 250px;
        height: 250px;
        padding: 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        position: relative;
    }
}