@import '../../../../../common/vars.css';

.event-details-aggregate {
    width: 25%;
    height: 100%;
    color: var(--text-color-dark);
    font-family: 'Assistant';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.event-details-aggregate .overview-container {
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 40vh; */
    height: 90%;
    padding: 2% 0 0 2%;
}

.event-details-aggregate .event-details-title {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}

.event-details-aggregate .overview-container .event-info {
    display: flex;
    align-items: center;

    margin-bottom: 1.5%;
}

.event-details-aggregate .overview-container .event-date {
    margin-top: 0;
    font-size: 1.3rem;
}

.event-details-aggregate .overview-container .event-info .event-info-icon {
    height: 23px;
    width: 23px;
}

.event-details-aggregate .overview-container .event-info .event-info-detail {
    padding-left: 0.5%;
    font-size: 0.8rem;
}

.event-details-aggregate .overview-container .event-description {
    font-size: 0.8rem;
}
