@import '../../../../../common/vars.css';

.event-details-container .event-info-container {
    display: flex;
    align-items: center;
}

.event-details-container .event-info-container .event-info-icon {
    height: 23px;
    width: 23px;
    margin-right: 8px;
}

.event-card .titled-card-title {
    white-space: nowrap;
}