.name {
    text-align: center;
    display: flex;   
}

.edit-save {
    list-style: none;
    float: right;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.abt-contact {
    display: flex;
}

.profile-picture-section {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-picture-section .profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-picture-section .profile-picture:hover {
    cursor: pointer;
    filter: grayscale(30%);
}

.profile-picture-section .profile-picture:hover ~ .upload-button {
    visibility: visible;
    cursor: pointer;
}

.profile-picture-section .upload-button:hover ~ .profile-picture {
    filter: grayscale(30%);
}

.profile-picture-section .upload-button:hover {
    visibility: visible;
    cursor: pointer;
}

.profile-picture-section .upload-button:hover ~ .profile-picture {
    filter: grayscale(30%);
}

.profile-picture-section .upload-button {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    height: 100px;
    width: 100px;

    z-index: 900;
}
