.name {
    text-align: center;
    display: flex;   
}

.edit-save {
    list-style: none;
    float: right;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.abt-contact {
    display: flex;
}

@media screen and (max-width: 768px) {
    .page-container .abt-contact {
        display: flex;
        flex-direction: column;
    }
}