.name {
    text-align: center;
    display: flex;
  }

.edit-save {
  list-style: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.abt-contact {
  display: flex;
}

.page-container .profile-pic .pfp {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.pfp {
  border-radius: 50%;
}