.item-search {
    width: 70%;
    height: 40px;
    text-align: left;
    padding-left: 15px;
    background-color: rgba(0, 171, 198, 0.1);
    border: 0px;
    border-radius: 3px;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}