@import '../../common/vars.css';

.header {
  color: var(--text-color-light);
  background: var(--color-dark-blue);
  
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-left-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  width: 40%;
}

.header-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

.header-wmk-logo {
  height: 40px;
  width: auto;
}