.week-header {
    border: none;
    display: flex;
    flex-direction: row;
}

.prev-button,
.next-button {
    cursor: pointer;
}

.cal-btn:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.week-day-header-content {
    display: flex;
    flex-direction: column;
}

.week-day-header-content p {
    margin-bottom: 0px;
}

.header-date {
    font-size: 1.25em;
    padding-bottom: 0px;
}

.header-day {
    color: var(--color-dark-blue);
    font-size: 0.75em;
}

.month-header{
    display: flex;
    flex-direction: row;
}

.day-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: var(--text-color-dark);
}

.day-view-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-dark-blue);
}

@media screen and (max-width: 768px) {
    .prev-button {
      padding-left: 0px;
      padding-right: 0px;
    }

    .next-button {
      padding-right: 0px;
      padding-left: 0px;
    }

    .month-header p {
        font-size: 0.85em;
    }
}

