.contact-card {
  width: 90%;
}

.contact-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: stretch; 
}

.contact-icons {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}