@import '../../common/vars.css';

.registration-text-field-label {
    display: flex;
    flex-direction: column;

    color: white;

    margin-bottom: 10px;
}

.registration-text-field {
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;

    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    
    padding-left: 10px;

    height: 35px;
}

.registration-error {
    color: #DA6153;
    margin: 0;
    padding: 0;
}

.registration-text-field-label .error {
    box-shadow: 0 0 10px 0 #DA6153;
}