@import '../../common/vars.css';

.register-container {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 3;

    background: var(--color-dark-blue);
    border-radius: 37px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

    padding-top: 50px;

    min-height: 600px;
    width: 650px;
}

.register-container p {
    margin: 0;
    padding: 0;
}

.register-container .error-message {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-orange);
}

.register-container .form-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0% 12% 3% 12%;
}

.register-container .form-navigation .stage-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;

    margin: auto;

    left: 0;
    right: 0;

    width: 15%;
}

.register-container .form-navigation .stage-dots .stage-dot {
    border-color: #C4C4C4;
    border-style: solid;
    border-width: 2.5px;

    border-radius: 50%;

    width: 15px;
    height: 15px;
}

.register-container .form-navigation .stage-dots .current-stage {
    background: #C4C4C4;
}

.register-container .form-navigation .next-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.46);

    cursor: pointer;

    background: var(--color-green);

    margin-left: auto;

    width: 22%;
}

.register-container .form-navigation .next-button .next-arrow {
    width: 45px;
    height: 40px;
}

.register-container .form-navigation .back-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.46);

    cursor: pointer;

    background: var(--color-dark-blue);

    margin-right: auto;

    width: 22%;
}

.register-container .form-navigation .back-button .back-arrow {
    width: 45px;
    height: 40px;

    transform: rotate(180deg);
}

.register-container .form-navigation .signup-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;

    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.46);

    cursor: pointer;

    color: white;
    background: var(--color-green);

    height: 40px;
    width: 170px;
}

.register-container .sign-in {
    display: flex;
    flex-direction: row;
    justify-content: center;

    white-space: pre-wrap;

    font-size: 0.9rem;

    color: white;

    min-height: 50px;
}

.register-container a:link, 
.register-container a:visited {
    text-decoration: none;
    color: white;
}

.register-container a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 768px) {
    .register-container {
        width: 450px;
    }

    .register-container .form-navigation .stage-dots .stage-dot {
        height: 5px;
        width: 5px;
    }

    .register-container .form-navigation .signup-button {
        width: 90px;
    }
}

@media screen and (max-width: 500px) {
    .register-container {
        width: 341px;
    }
}