@import '../../common/vars.css';

.register-step-two {
    color: white;

    padding-left: 10%;
    padding-right: 10%;

    height: 500px;
}

.register-step-two p {
    margin: 0;
    padding: 0;
}

.register-step-two .phone-number-section {
    display: flex;
    flex-direction: column;
}

.register-step-two .address-section {
    margin-bottom: 4%;
}

.register-step-two .address-section .address-form-group .street-form-group {
    display: flex;
    flex-direction: column;
}

.register-step-two .address-section .zone-form-group {
    display: flex;
    flex-direction: row;
}

.register-step-two .address-section .zone-form-group .label ~ .label {
    margin-left: 15px;
}

.register-step-two .address-section .state-zipcode {
    display: flex;
    flex-direction: row;

    margin-right: 0;
    right: 0;
    padding: 0;

    width: min-content;
}

.register-step-two .address-section .city-label {
    width: 60%;
    margin-right: 15px;
}

.register-step-two .address-section .state-label {
    /* width: 14%; */
    width: 60px;
}

.register-step-two .address-section .zipcode-label {
    /* width: 24%; */
    width: 120px;
}

.register-step-two .address-section .address-form-group .zone-form-group .zone-form-label .zone-sub {
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .register-step-two .address-section .zipcode-label {
        width: 60px;
    }
}

@media screen and (max-width: 500px) {
    .register-step-two .address-section .zone-form-group {
        display: flex;
        flex-direction: column;
    }

    .register-step-two .address-section .city-label {
        width: 100%;
    }

    .register-step-two .address-section .zipcode-label {
        width: 100px;
    }
}