@import '../../../common/vars.css';

.inventory-container {
    /* min-height: 100vh; */
}

.items-table-wrapper {
    align-self: center;

    margin-left: 2.5%;
    margin-right: -4%;

    /* max-height: 800px;
    overflow-y: scroll; */
}

.items-table {
    width: 100%;
    table-layout: fixed;
}

.items-table thead {
    align-self: center;
    border-bottom: solid 1px var(--color-dark-blue);
}

.items-table thead .items-table--row {
    position: relative;
    padding: 12px;
    font-size: 20px;
    color: var(--text-color-dark);
}

.items-table tbody {
    border-collapse: separate;
    color: var(--text-color-dark);
    font-size: 20px;
}

.th-name {
    width: 45%;
    padding-left: 3%;
    text-align: left;
    border-bottom: solid 1px var(--color-dark-blue);
    padding-bottom: 5px;
}

.th-quantity {
    width: 15%;
    text-align: center;
    border-bottom: solid 1px var(--color-dark-blue);
    padding-bottom: 5px;
}

.th-category {
    width: 20%;
    text-align: center;
    border-bottom: solid 1px var(--color-dark-blue);
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .items-table-mobile {
        align-self: center;
        width: 100%;
    }
}