@import '../../../common/vars.css';

.items-table {
    width: 100%;
    table-layout: fixed;
}

.items-table thead {
    border-bottom: solid 1px var(--color-dark-blue);
}

.items-table thead tr {
    padding: 12px;
    font-family: var(font-family);
    font-size: 20px;
    color: var(--text-color-dark);
}

.items-table tbody {
    border-collapse: separate;
    color: var(--text-color-dark);
    font-size: 20px;
}

.th-name {
    width: 45%;
    padding-left: 1%;
}

.th-quantity {
    width: 15%;
    text-align: center;
}

.th-category {
    width: 20%;
    text-align: center;
}
