.availability-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
}

.availability-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.availability-title {
  font-weight: bold;
  color: var(--text-color-dark);
}

.availability-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.availability-save-button, .availability-edit-button, .help-popup-button {
  align-self: flex-end;
}

.availability-save-button, .availability-edit-button {
  background-color: var(--color-green);
  color: white;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 1.2rem;
}

.help-popup-button {
  background-color: var(--color-green);
  border-radius: 50%;
  padding: 10px;
}