@import '../../common/vars.css';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-dark-blue);
  color: var(--text-color-light);

  height: 190px;
}

.footer p {
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .footer-content a {
  cursor: pointer;
}

.footer .footer-content .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100px;
}

.footer .footer-content .social-media .footer-icon {
  width: 55px;
  height: 55px;
}

.footer .footnote {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 220px;
  }
  
  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-content .social-media {
    height: 60px;
  }

  .footer .footer-content .email-phone {
    text-align: center;
  }

  .footer .footer-content .footer-divider {
    display: none;
  }

  .footer .footer-content .social-media .footer-icon {
    width: 40px;
    height: 40px;

    margin-left: 8px;
    margin-right: 8px;
  }
}