.viewAvailCard {
    padding: 30px;
    margin: 25px;
    /* margin: auto; */
    max-width: 850px;
    min-width: 750px;
    min-height: 250px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    pointer-events: none;
}

.viewAvailCard .grid-cell {
    width: 100%;
    height: 25px;
}

.viewAvailCard .cell-text {
    font-size: 5;
    margin: auto;
    color: white;
}