@import '../../../common/vars.css';

.add-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 42px;
}

.add-category .formik-field-label {
    font-size: 1000px !important;
}

.add-category-button {
    background-color: var(--color-green);
    color: var(--text-color-light);
    font-size: 150%;
    font-weight: 800;
    border: 0;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    left: -55px;   
    position: absolute;
    cursor: pointer;
}

/* .add-category-title {
    font-size: 22px;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 5px;
} */

.add-category-popup .light-modal-container {
    border-style: none;
    border-radius: 10px;
}

.add-category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
}

.add-category-form p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
}

.add-category-input {
    margin-top: 10px;
    border: 2px solid var(--color-dark-blue);
    padding: 5px;
    color: var(--text-color-dark);
    font-size: 18px;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    text-align: center;
    width: 92%;
}

.add-category-form .confirmation {
    display: flex;
    margin-top: 5px;
}

.category-form-button {
    margin: 5px;
    margin-bottom: 20px;
    border: 4px solid var(--color-dark-orange);
    border-radius: 15px;
    background-color: var(--color-dark-orange);
    color: var(--text-color-light);
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 0 10px;
    cursor: pointer;
}

.submit-category {
    margin-left: 20px;
    border: 4px solid var(--color-green);
    background-color: var(--color-green);
}

.category-form-button:hover {
    opacity: .85;
}

@media screen and (max-width: 768px) {
    .add-category-button {
        font-size: 1.25em;
        font-weight: 200;
        border-radius: 30px;
        height: 26px;
        width: 26px;
        left: 28%;
        margin-top: 8px;
        line-height: 8px;   
    }
}