@import '../../../common/vars.css';

.arrow-prev {
    margin-right: 1px;
}

.arrow-next {
    margin-left: 1px;
}

.menu-wrapper--inner {
    padding: 1.4px;
}

.scroll-menu-arrow {
    font-weight: 600;
    font-size: 250%;
    color: var(--color-dark-blue)
}

#scroll-menu-container {
    flex: 1 1 0;
    min-width: 0;
}

.horizontal-menu {
    height: max-content;
}

.category-button {
    padding: 0 40px;
    margin: 5px 10px;
    width: inherit;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid;
    border-radius: 6px;
    color: var(--color-green);
    background-color: white;
    outline-color: var(--color-green);
}

.category-button:hover {
    border-color: var(--color-green);
    color: var(--text-color-light);
    background-color:var(--color-green);
    outline-color: var(--color-green);
    transition: 0.2s
}

.category-button:focus {
    border-color: var(--color-green);
    color: var(--text-color-light);
    background-color:var(--color-green);
    outline-color: var(--color-green);
}

.edit-category-button {
    padding: 0 40px;
    margin: 5px 10px;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid;
    border-radius: 6px;
    color: var(--color-green);
    background-color: white;
    outline-color: var(--color-green);
}

.edit-category-button:hover {
    border-color: var(--color-green);
    color: var(--text-color-light);
    background-color:var(--color-green);
    outline-color: var(--color-green);
    transition: 0.2s
}