@import '../../../common/vars.css';

#scroll-menu-container {
    min-width: 0;
}

.horizontal-menu {
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu-wrapper {
    height: inherit;
}

.scroll-menu-arrow {
    padding-top: 12px;
    text-align: center;
}

.arrow-prev {
    width: 40px;
    padding: 20px 20px 20px 20px;
    background-image: url(images/inventoryArrowPrev.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    border: none;
}

.arrow-next {
    width: 40px;
    padding: 20px 20px 20px 20px;
    margin-left: 10px;
    background-image: url(images/inventoryArrowNext.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: transparent;
    border: none;
}

.menu-wrapper--inner {
    padding: 1.4px;
}

.category-button {
    padding: 0 40px;
    margin: 5px 10px;
    width: 227px;
    height: 40px;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid var(--color-green);
    border-radius: 10px;
    color: var(--color-green);
    background-color: white;
}

.category-button:hover {
    color: var(--text-color-light);
    background-color:var(--color-green);
    transition: 0.2s
}

.category-button:focus {
    color: var(--text-color-light);
    background-color:var(--color-green);
}

.edit-category-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    margin: 5px 10px;
    width: 227px;
    height: 40px;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid var(--color-green);
    border-radius: 10px;
    color: var(--color-green);
    background-color: white;
}

.edit-category-button:hover {
    color: var(--text-color-light);
    background-color:var(--color-green);
    transition: 0.2s
}

.category-icon--delete {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    background-image: url(images/deleteItem.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 20px;
    border: none;
}

.category-icon--undo {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    background-image: url(images/undeleteItem.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 20px;
    border: none;
}