.table-header {
    cursor: pointer;
}

.row .col-data {
    padding-left: 12%;
}

.header-data {
    text-align: right;
}

.prof-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#4242426b;
    display: block;
    margin-right: 2%;
}