/* THERE MIGHT BE REDUNDANT CODE IN HERE BUT IM NOT SURE WHERE */

.events-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    height: 850px;
}

.event-list-component {
    flex: 0 1 48%;
}

.key-section {
    display: flex;
    width: 85%;
    margin: 20px auto auto auto;
    padding: 15px 20px;
}

.key-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.volunteer-event-square {
    background-color: var(--color-yellow);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.volunteer-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.outreach-event-square {
    background-color: var(--color-light-pink);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.outreach-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.other-event-square {
    background-color: var(--color-lavender);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.other-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.dashboard-event-legend {
    margin-left: 6%;
}
