.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-stats-section {
    width: 85%;
    margin: 30px auto;
}

.filler {
    height: 100px;
    width: 100%;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.my-stats-title {
    color: var(--text-color-dark);
    font-weight: bold;
}

.events-section {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    width: 85%;
}

.events-section .event-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.event-list-component {
    width: 48%;
}

.event-div .event-list-container .event-container {
    overflow: hidden;
}

.event-div .event-list-container .event-container .event-info-section {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.legend-key-section {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.key-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.volunteer-event-square {
    background-color: var(--color-yellow);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.volunteer-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.outreach-event-square {
    background-color: var(--color-light-pink);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.outreach-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.other-event-square {
    background-color: var(--color-lavender);
    width: 25px;
    height: 25px;
    margin: 0 10px 0 25px;
}

.other-event-text {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
}

.availability-wrapper {
    display: flex;
    flex-direction: column;
}

.availability-title {
    font-weight: bold;
    color: var(--text-color-dark);
}

.availability-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.save-button, .edit-button, .help-popup {
    align-self: flex-end;
}

.save-button, .edit-button {
    background-color: var(--color-green);
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 1.2rem;
}

.help-popup {
    background-color: var(--color-olive);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    margin-left: 15px;
}

.dashboard-container .dashboard-event-legend {
    width: 100%;
    align-items: center;
}

@media all and (max-width: 1000px) {
    /* Events dashboard component */
    .events-section .event-lists{
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }
    .events-section .event-list-component {
        width: 85%;
    }
    /* Events dashboard legend */
    .dashboard-container .dashboard-event-legend {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard-container .legend-key-section {
        width: 50%;
    }
    .dashboard-container .legend-key-section .legend-info{
        flex-direction: column;
        justify-content: space-around;
    }
}
