.circle {
  height: 30px;
  width: 30px;
  background-color: #336473;
  border-radius: 70%;
  display: inline-block;
  float: left;
}

.volunteer {
  font-weight: 1000;
  margin-left: 20px;
  padding: 5px 0px;
  text-align: center;
  float: left;
}

#qualifications-list {
  margin: 10px;
  display: block;
  justify-content: space-between;
  min-width: 51em;
  padding: 2em;
}
#qualifications-list .green-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color-green);
  border: none;
  border-radius: 25px;
  padding: 0.1em 1.5em;
  float: right;
}


#qualifications-list #table-wrapper {
  padding: 1em 1em 2em;
  background-color: #F2FBFC;
  box-shadow: 2px 2px 2px gray;
}

#qualifications-list #table-header {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}


#qualifications-list .qualifications-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;
}
#qualifications-list .qualifications-table thead {
  font-size: 20px;
  align-self: center;
  background-color: #336473;
  color: white;
}
#qualifications-list .qualifications-table tbody {
  border-collapse: separate;
}
#qualifications-list .qualifications-table tbody>tr>td {
  padding: 0.5em 0.5em;
}
#qualifications-list .qualifications-table tbody>tr:nth-child(even)>td {
  background-color: rgba(51, 100, 115, 0.37);
}
