@import '../../../../../common/vars.css';

.demographics {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.demographics-charts {
    display: flex;
    align-items: center;
    width: 750px;
    height: 100%;
}

.pie-charts {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pie-chart-and-label {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 10px;
    margin-left: 10px;
}

.left-arrow, .right-arrow, .left-arrow-nonfunctional, .right-arrow-nonfunctional {
    background: transparent;
    border: 0;
    padding: 0;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.left-arrow-nonfunctional, .right-arrow-nonfunctional {
    opacity: 20%;
}

.arrow-img {
    width: 22px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .demographics-charts {
        width: 100%;
        height: 600px;
    }

    .pie-chart-and-label {
        justify-content: center;
        width: 90%;

        margin-left: 0;
        margin-right: 0;
    }

    .pie-chart-and-label p {
        margin-block-start: 0;
    }

    .pie-charts {
        flex-direction: column;
    }
}