@import '../../../../../common/vars.css';

.demographics {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 50%;
}

.demographics-title {
    font-family: 'Assistant', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: var(--text-color-dark);
    margin: 0;
}

.pie-charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.chart-and-label {
    width: 33%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-arrow, .right-arrow, .left-arrow-nonfunctional, .right-arrow-nonfunctional {
    /* width: 10%;
    height: 10%; */
    background: transparent;
    border: 0;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.left-arrow, .left-arrow-nonfunctional {
    padding-left: 2%;
}

.right-arrow, .right-arrow-nonfunctional {
    padding-right: 2%;
}

.left-arrow-nonfunctional, .right-arrow-nonfunctional {
    opacity: 20%;
}

.arrow-img {
    width: 25px;
    height: 50px;
}

.chart-label {
    color: black;
    font-weight: 600;
    margin: 0;
    height: 20%;
    bottom: 5%;
    position: absolute;
}