.demographics {
    display: flex;
    flex-direction: column;
}

.demographics-title {
    font-family: 'Assistant';
    font-weight: 700;
    font-size: 35px;
    color: var(--text-color-dark);
    margin: 0;
}

.pie-charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-light-blue);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.left-arrow, .right-arrow, .left-arrow-nonfunctional, .right-arrow-nonfunctional {
    width: 5%;
    height: 10%;
    background: transparent;
    border: 0;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.left-arrow-nonfunctional, .right-arrow-nonfunctional {
    opacity: 20%;
}