@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body {
  font-family: 'Assistant', sans-serif;

  -webkit-font-smoothing: antialiased;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}
