.event-list-container {
    display: flex;
}

.event-container {
    display: flex;
    color: var(--text-color-light);
    padding: 15px 20px;
    align-items: center;
    flex: 1 1 98%;
}

.more-events {
    background-color: var(--color-dark-blue);
}

.my-events {
    background-color: var(--color-teal);
}

.event-button {
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.event-button:hover {
    background-color: lightblue;
}

.event-date-section {
    margin: auto 10px;
}

.event-info-section {
    margin: auto 10px;
}

.event-day {
    font-weight: bolder;
    margin: 0;
}

.event-month {
    margin: 0;
}

.event-title {
    font-weight: bolder;
    margin: 0;
}

.event-time {
    margin: 0;
}

.volunteer-event {
    min-height: 100%;
    background-color: var(--color-yellow);
    flex: 1 0 2%;
}

.outreach-event {
    min-height: 100%;
    background-color: var(--color-light-pink);
    flex: 1 0 2%;
}

.other-event {
    min-height: 100%;
    background-color: var(--color-lavender);
    flex: 1 0 2%;
}