.test {
    width: 100%;
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0; 
}

.event-list-container {
    display: flex;
}

.event-container {
    display: flex;
    color: var(--text-color-light);
    padding: 15px 20px;
    flex: 1 1 90%;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.event-list-container .event-color-label {
    min-width: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.more-events,
.aggregatePage,
.addModifyDeleteEventsPage {
    background-color: var(--color-dark-blue);
    cursor: pointer;
}

.my-events {
    background-color: var(--color-teal);
    cursor: pointer;
}

.event-button {
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.event-button:hover {
    background-color: lightblue;
}

.event-button-symbol {
    margin-top: 0px;
}

.event-date-section {
    margin: auto 10px;
}

.event-info-section {
    margin: auto 10px;
}

.event-day {
    font-weight: bolder;
    margin: 0;
}

.event-month {
    margin: 0;
}

.event-block-title {
    font-weight: bolder;
    margin: 0;
}

.event-time {
    margin: 0;
}

.volunteer-event {
    min-height: 100%;
    background-color: var(--color-yellow);
    flex: 1 0 2%;
}

.outreach-event {
    min-height: 100%;
    background-color: var(--color-light-pink);
    flex: 1 0 2%;
}

.other-event {
    min-height: 100%;
    background-color: var(--color-lavender);
    flex: 1 0 2%;
}