.pie-chart-and-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
}

.pie-chart-and-label .chart-label {
    color: black;
    font-weight: 600;
    margin: 0;
}