*:focus {
    outline: 0;
}

.cursor-pointer {
    cursor: pointer;
}

#week-event-block{
    color: var(--color-dark-light);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    z-index: 0;
}

#week-event-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2em;
}

#week-edit-event-content{
    display: inline;
}

#strip{
    width: 10px;
    height: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

#week-event-block p{
    margin-bottom: 0px;
    overflow-y: hidden;
}

#week-event-block button{
    margin-right: auto;
    border-radius: 50%;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: var(--color-light-blue);
    z-index: 999;
}

#monthViewEventTitle {
    display: inline;
    margin-left: 0.2em;
    font-weight: bold;
}

#monthViewEventTime{
    display: inline;
    margin-left: 0.2em;
}

#dot{
    display: inline;
    font-weight: bold;
    font-size: 1em;
}

#month-event-block{
    width: 100%;
    overflow-x: hidden;
    display: inline;
    margin-left: 0.2em;
    height: 100%;
    padding: 0px;
}

#trash-can {
    color: var(--text-color-light);
    float: right;
    margin-right: 3%;
}

#week-edit-event-block {
    padding-top: 1%;
    height: 100%;
}

#week-edit-event-block button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
}

#week-edit-event-title, #week-event-title {
    margin: 0;
}