*:focus {
    outline: 0;
}

.week-event-block {
    color: var(--color-dark-light);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    z-index: 0;
    cursor: pointer;
}

.week-event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2em;
    width: 95%;
}

.all-day-week-event-content {
    flex-direction: row;
}

.week-edit-event-content {
    display: inline;
}

.strip {
    width: 5%;
    height: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.week-event-block p {
    margin-bottom: 0px;
    overflow-y: hidden;
}

.week-event-block button {
    margin-right: auto;
    border-radius: 50%;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: var(--color-light-blue);
    z-index: 999;
    height: 20px;
    min-width: 20px;
    cursor: pointer;
}

.plus-button {
    padding-top: 2px;
}

.month-view-event-title {
    display: inline;
    margin-left: 0.2em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.month-view-event-time {
    display: inline;
    margin-left: 0.2em;
}

.dot {
    display: inline;
    font-weight: bold;
    font-size: 1em;
}

.month-event-block {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline;
    margin-left: 0.2em;
    height: 100%;
    padding: 0px;
    cursor: pointer;
}

.week-edit-event-block {
    padding-top: 1%;
    height: 100%;
    cursor: pointer;
}

.week-edit-event-title, .week-event-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.week-event-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-event-main {
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all-day-strip {
    width: 10px;
    height: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: 0px;
    right: 0px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 768px) {
    .month-view-event-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
