@import '../../../../common/vars.css';

.add-warehouse {
    left: -45px;
    position: absolute;
}

.add-warehouse-form .formik-field-label {
    margin-top: 5px;
}

.add-warehouse-button {
    background-color: var(--color-green);
    color: var(--text-color-light);
    font-size: 125%;
    font-weight: 800;
    border: 0;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    margin-top: 20px;
    cursor: pointer;
}

.add-warehouse-popup .light-modal-container{  
    border-radius: 10px;
    border-style: none;
}

.add-warehouse-title {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 5px;
}

.add-warehouse-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 250px;
    height: 215px;
    padding: 10px;
}

.add-warehouse-form p {
    margin-block-start: 20px;
    margin-block-end: 0px;
    text-align: center;
}

.add-warehouse-input {
    margin-top: 10px;
    border: 2px solid var(--color-dark-blue);
    padding: 5px;
    color: var(--text-color-dark);
    font-size: 18px;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    text-align: center;
    /* width: 75%; */
}

.add-warehouse-form #division {
    margin-top: 10px;
    margin-bottom: 0px;
}

.add-warehouse-form select {
    margin-bottom: 10px;
    width: 202px;
    border: 2px solid var(--color-dark-blue);
    padding: 5px;
    color: var(--text-color-dark);
    font-size: 16px;
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    text-align-last: center;
}

.add-warehouse-form .confirmation {
    margin-bottom: 10px;
}

.warehouse-form-button {
    margin: 5px;
    margin-bottom: 20px;
    border: 4px solid var(--color-dark-orange);
    border-radius: 15px;
    background-color: var(--color-dark-orange);
    color: var(--text-color-light);
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 0 10px;
    cursor: pointer;
}

.submit-warehouse {
    margin-left: 20px;
    border: 4px solid var(--color-green);
    background-color: var(--color-green);
}

.warehouse-form-button:hover {
    opacity: .85;
}

@media screen and (max-width: 768px) {
    .add-warehouse {
        left: -33px;
        top: -3px;
    }

    .add-warehouse-button {
        font-size: 1.25em;
        font-weight: 200;
        border-radius: 30px;
        height: 26px;
        width: 26px;
        margin-top: 9px;
    }
}